<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Salon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        html, body {
            height: 110%;
            margin: 0;
            padding: 0;
            background-image: url('../images/white-wallpaper-abstract-7.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .navbar-brand img {
            max-height: 40px;
            width: auto;
        }

        .navbar {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .min-vh-100 {
            min-height: 100vh;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="../images/Lovepik_com-380266051-black-razor-comb-hair-salon-logo-art-product.png" alt="SalonWebApp Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUser"
                        aria-controls="navbarUser" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarUser">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Salons" asp-action="Index">Salonlar</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("ADMIN"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Appointments" asp-action="Create">Randevu Al</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Edit"
                                   asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value">
                                    Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="ChangePassword">
                                    Şifre Değiştir
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout">Çıkış</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Login">Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="CreateMember">Üye Ol</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main class="container flex-fill" style="padding-top: 70px;">
        @RenderBody()
    </main>

    <footer class="bg-light text-dark text-center mt-auto p-4" style="height: 100px;">
        <p class="mb-2">© 2024 SalonWebApp - Ömer Asaf BALIKÇI - Yasin Enes YILMAZ</p>
        <p class="mb-0">SalonWebApp, kişisel bakım ihtiyaçlarınız için en iyi çözümleri sunar. Randevu alın, size en yakın salonları keşfedin ve profesyonel hizmetin keyfini çıkarın.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
