@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ana Sayfa - Kullanıcı";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1>Merhaba!</h1>
    <p>Normal kullanıcı anasayfasına hoş geldiniz.</p>
</div>
