@model SalonWebApp.Models.Appointment

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Randevu Sil";
}

<h2>Randevu Sil</h2>
<hr />

<div class="alert alert-danger">
    <p>
        <strong>@Model.Service?.Name</strong> adlı servis için <br />
        <strong>@Model.Time?.Date.ToShortDateString() [@Model.Time?.StartTime - @Model.Time?.EndTime]</strong> tarih/saatli
        randevuyu silmek istiyor musunuz?
    </p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="AppointmentId" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Geri</a>
</form>
